{% extends 'master.html' %}
{% block contenido %}<!--aqui-->

<html>

<head>
    <meta>
    <title>Aereopuerto 2021</title>
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h4>Lista de Ciudades</h4>
            <form class="d-flex" method="POST">{% csrf_token %}
                <input  class="form-control" name="busqueda" placeholder="Ingrese su Busqueda"
                    aria-label="busqueda">
                <button style="margin-left: 10px; height: 50px;" class="btn btn-info" type="submit">Buscar</button>
                <a style="margin-left: 10px;background-color: rgb(54, 54, 207); height: 50px;" 
                class="btn btn-primary" href="{% url 'crear_ciudad'%}" role="button">Nuevo Ciudad</a>
            </form> 
        </div>
    </nav>

    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Nombre Aereopuerto</th>
                    <th>Pais</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ciudad in listaCiudad%}
                <tr>
                    <td>{{ciudad.ciudad_id}}</td>
                    <td>{{ciudad.nombre}}</td>
                    <td>{{ciudad.nombreAereopuerto}}</td>
                    <td>{{ciudad.pais.nombre}}</td>
                    <td >
                        <a class="btn btn-danger" href="{% url 'eliminar_ciudad' ciudad.ciudad_id %}"
                            role="button">Eliminar</a>
                        <a class="btn btn-info"  href="{% url 'modificar_ciudad' ciudad.ciudad_id %}"
                            role="button">Editar</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}<!--aqui-->